@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,400;0,700;1,700&display=swap");

/* Variables */
:root {
  --font-family: 'Quicksand', sans-serif;
  --bg-color: #fffeff;
  --primary-color: #f7f8fc;
  --secondary-color: #152674;
  --accent-one: #0374cb;
  --accent-two: #e1246b;
  --spacing: 1px;
  --gray-light: #9ca3af;
  --dark-one: #303030;
  --dark-two: #2b2b2b;
  --dark-three: #1f1f1f;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--dark-three);
  height: 100vh;
  padding: 5px 20px;
}

a {
  text-decoration: none;
  color: var(--dark-three);
  margin-bottom: 10px;
}

.hover-content a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-two);
  text-decoration-thickness: 4px;
}

/* Heaader */
#home-btn {
  font-size: 1.5rem;
  color: var(--accent-one);
  margin: 10px 0;
}

#home-btn:hover {
  color: var(--accent-two);
}

/* Main */
.title {
    font-size: 2rem;
    font-weight: 700;
}
  
.subtitle {
    font-size: 1.75rem;
}
  
hr {
    width: 30%;
    opacity: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
}


/* Main */
.container {
  max-width: 100vw;
}

.source {
    width: 100vw;
    margin-bottom: 10px;
  }

.source a:hover {
  color: var(--accent-two);
}

/* Table */
#returns {
    text-align: center;
    font-family: inherit, sans-serif;
    width: 300px;
    max-width: 100vw;
}

#returns th,
#returns td {
    padding: 5px;
}

#returns th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#returns tr:nth-child(odd){
    background-color: #f2f2f2;
}

#returns tr.average {
    font-weight: 700;
}
